<div class="footer">
    <div class="footerContainer">
        <div class="impressum">
            <a routerLink="privacy">Privacy Notice </a> <br>
            <a routerLink="legal">Legal Notice</a>
        </div>
        <div class="logo">
            <img src="assets/img/arrowslogo.svg" alt="">
            <p> <b>© MATTHÄUS LIS</b></p>
        </div>
        <div class="icons">
            <a href="https://github.com/MatthaeusL" target="_blank"><img src="assets/img/github.png" alt=""></a>
            <a href="https://www.xing.com" target="_blank"><img src="assets/img/xing-fill.png" alt=""></a>
            <a href="https://www.linkedin.com/in/matthäus-lis-6b346524b/" target="_blank"><img src="assets/img/linkedin.png" alt=""></a>
        </div>
    </div>
</div>