<div class="aboutMe">
    <div class="aboutMeContainer">
        <div class="aboutMeTop">
            <div>
                <img src="assets/img/ML3.png" alt="">
            </div>
            <div class="aboutMeText">
                <h2>About me.</h2>
                <p>“ I am a Front End Developer with the urge to solve problems and the ambition to manage tough challenges. ”</p>

            </div>

        </div>
        <div class="aboutMeBottom">
            <app-aboutme-cards *ngFor="let AMcard of aboutMeCards" [aboutMeCard]="AMcard"></app-aboutme-cards>


        </div>


    </div>

</div>