<div class="contact">
    <div class="cantactContainer">
        <h2>Contact me.</h2>

        <div class="formular">
            <p>Get in touch via the form below, or by emailing
                <a href="mailto:mat@lispage.com">mat@lispage.com</a>
            </p>
            <form action="http://matthaeus-lis.programmierer-werden.de/send_mail.php" method="post">
                <label for="">Name </label>
                <input name="name" type="text" required autocomplete="off" placeholder="Enter your name">
                <label for="">Email address </label>
                <input type="email" name="e-mail" required autocomplete="off" placeholder="Enter your Email address">
                <label for="">Message </label>
                <textarea spellcheck="true" name="message" required autocomplete="off" id="" cols="30" rows="10" placeholder="Enter your message"></textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>