<div class="ContainerToCenter">
    <div class="contact">
        <div class="cantactContainer">
            <h2>Contact me.</h2>

            <div class="formular">
                <p>Get in touch via the form below, or by emailing
                    <a href="mailto:mat@matlis.info">mat@matlis.info</a>
                </p>
                <form class="formularBox" action="https://matlis.info/send_mail.php" method="post">
                    <div class="inputbox">
                        <input name="name" type="text" required autocomplete="off">
                        <label for="">Name </label>

                    </div>
                    <div class="inputbox">
                        <input type="name" name="e-mail" required autocomplete="off">
                        <label for="">Email address </label>

                    </div>
                    <div class="inputbox">
                        <textarea spellcheck="true" name="message" required autocomplete="off" id="" cols="30" rows="10"></textarea>
                        <label for="">Message </label>

                    </div>

                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="qrCode">
            <img class="qr" src="assets/img/qr-mlis.svg" alt="">
        </div>
    </div>

</div>