<div class="imDev">
    <div class="imDevContainer">
        <div class="devTop">
            <div>
                <h1>
                    Hi, I´m
                    <font color="#569CD6">Matthäus</font> <br> Front End developer <br>

                </h1>
                <a href="#contactme">
                    <button>
                        Contact me
                    </button>
                </a>
            </div>
            <div class="profilepic">
                <img class="pic" src="assets/img/FOTOBONN-IMG_5398.jpg" alt="">
            </div>
        </div>
        <div class="devBottom">
            <a href="#skills">
                <div class="scrollDown">
                    <img src="assets/img/arrow-Down.png" alt="">
                </div>
            </a>
        </div>

    </div>

</div>