.mySkills {
    background-color: #131111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    .mySkillsContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 1200px;
        margin: 0 30px 45px 30px;
        box-sizing: border-box;
        @media (max-width: 720px) {
            width: 90vw;
        }
        h2 {
            color: white;
            text-align: center;
        }
        .skillCards {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 2vw;
            justify-content: space-between;
        }
    }
}

// skillsContainer