body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgb(24, 24, 24);
}

h1 {
    font-size: 64px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    @media (max-width: 640px) {
        font-size: 5.6vw;
    }
}

p {
    font-size: 18px;
    @media (max-width: 640px) {
        font-size: clamp(12px, 5vw, 18px);
    }
}

html {
    scroll-behavior: smooth;
}

button {
    margin-top: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    height: 78px;
    background-color: unset;
    width: 300px;
    color: #2DFCD8;
    border: 2px solid #2DFCD8;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 250ms;
    &:hover {
        background-color: #2DFCD8;
        color: black;
    }
}

// ------------------ custom scrollbar--------------------
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(20, 17, 17);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .8);
}

// ------------------FONT-INTER--------------------

/* inter-100 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-100.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-200 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-200.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-300 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-regular - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-500 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-600 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-700 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-800 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter-900 - latin */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('assets/fonts/INTER/inter-v8-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/INTER/inter-v8-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// --------------------FONT--inconsolata------------------------------------------------

/* inconsolata-200 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 200;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-200.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-300 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-regular - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-500 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 500;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-600 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 600;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-700 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-800 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 800;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-800.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inconsolata-900 - latin */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 900;
    src: local(''), url('assets/fonts/inconsolata/inconsolata-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('assets/fonts/inconsolata/inconsolata-v30-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}